@import "tailwindcss";

:root {
  --background: #F8FAFC;
  --foreground: #171717;

  --primary-color: #2d9653;
  --secondary-color: #f9b500;
  --tertiary-color: #0f1f13;

  --font-sans: var(--font-dm-sans);
  --font-serif: var(--font-dm-serif-text)
}

@theme inline {
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-tertiary: var(--tertiary-color);

  --font-sans: var(--font-dm-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-dm-serif-text)


}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans);
}

h1 {
  font-family: var(--font-dm-serif-text);
}

/* .invest-frequency-button {
  font-size: small;
  background-color: light-gray;

} */
