@import "tailwindcss";

.grid-container > div {
  /* background-color: rgb(255, 255, 255); */
  border-radius: 10;
  border: 1.5px rgb(224, 224, 224) solid;
  /* box-shadow: 0 8px 10px rgba(0, 0, 0, 0.08); */

}

.grid-container > .action-button {
  border: none;
}

body {
  /* background-color: rgb(246, 246, 246); */
}